<% if type == "signup" %>
  <% @github_text = "Sign up with GitHub" %>
  <% @google_text = "Sign up with Google" %>
<% else %>
  <% @github_text = "Sign in with GitHub" %>
  <% @google_text = "Sign in with Google" %>
<% end %>

<% omniauth_style =
  "w-full flex items-center justify-center gap-3 bg-white dark:bg-transparent border border-gray-300 text-gray-700 dark:text-white px-6 py-2 rounded-full transition-colors duration-300 ease-in-out hover:bg-gray-100 dark:hover:bg-gray-800 hover:border-gray-400 dark:hover:border-gray-500 hover:text-black dark:hover:text-gray-200" %>

<%= button_to rodauth.omniauth_request_path(:github), class: omniauth_style,
  method: :post,
  data: {
    turbo: false,
  } do %>
  <%= render Phlex::TablerIcons::BrandGithub, class: "w-5 h-5" %>
  <%= @github_text %>
<% end %>

<%= button_to rodauth.omniauth_request_path(:google), class: omniauth_style,
  method: :post,
  data: {
    turbo: false,
  } do %>
  <%= render Phlex::TablerIcons::BrandGoogle, class: "w-5 h-5" %>
  <%= @google_text %>
<% end %>

<div class="flex items-center my-4 hidden">
  <div class="flex-grow border-t border-gray-300"></div>
  <span class="px-4 dark:text-white text-gray-700">or</span>
  <div class="flex-grow border-t border-gray-300"></div>
</div>
